<center><h1>How is Electricity Produced in the US?</h1>

	<body>
		Below is a map representing the "green-ness" of the electricity generated in each state of the US (except Alaska and Hawaii, coming soon!). The data were pulled from the beta API of the <%= link_to "Energy Information Agency", "http://www.eia.gov" %>. Packages used to make this were d3.js, jQuery and jQuery-ui.

		TALK LATER about hydro_pumped energy. It's a compensatory measure states take to prevent using non-green power sources during peak hours HOWEVER it's often a net negative for states! Crazy.

		<div id='map'>
			<%= render "map" %>
		</div>

		<h1 id="year"></h1>
		<div id="time" style="width: 200px;"></div>

		<div id="weights">
			<h1>Opinionated?</h1>
			<h3>Set your own "green-ness" scores for various types of power.</h3>
		  	<% for type, score in @green %>
					<h4><%= @translations[type] %>:
						<input type="number" style="width: 200px;" value=<%= score %> id=<%= "#{type}_box" %>></input>
						<div style="width: 200px;" id=<%= "#{type}" %>></div>
					</h4>
		  	<% end %>
		</div>

	</body>
</center>