<center>
	<h1>Where does our electricity come from?</h1>
	<h4>How green is the electricity that powers our cell phones, street lights and electric vehicles?</h4>
</center>

<body>
	<p>
		<h3>What am I looking at?</h3>
	</p>
	<p>
		<span class='first_words'>Electrospection</span> is an interactive map that visualizes state-by-state electricity generation data.
		The first view represents the "green-ness" of the electricity generated in each state of the US.
		A state is scored based on the number of megawatt-hours of each type of energy it generates.
		Each type of power has its own score from -10 to 10 which multiplies the number of megawatt-hours generated; the total of these points evaluates to a final score.
		If the score is positive, the state is colored green; if negative: red.
	</p>
	<p>
		<span class='first_words'>Green-ness</span> is a somewhat subjective concept, as it requires evaluation of the myriad side-effects of electricity generation by a particular method.
		It is a source of debate among scientists.
		For example: hydroelectric power dams release practically no greenhouse gasses <i>but</i> dams can prevent migratory fish like salmon from reaching their spawning grounds <b>however</b> fish ladders can be built to allow salmon to migrate.
		Not all dams have fish ladders and not all dams block migrating salmon, further complicating the issue.
		My personal evaluation of the effects of hydroelectricity lead me to set the slider at +1.
		Do some research about the individual facilities in your state and set the sliders below to your beliefs!
		The map represents a rough concept of green-ness and values are changeable to your preference - play with the sliders below and see how the map changes.
	</p>
	<p>
		<span class='first_words'>The data</span> were pulled from the beta API of the <%= link_to "Energy Information Agency", "http://www.eia.gov" %> (it is an incredible resource, if you know how to look). Packages used to make this were <%= link_to "d3.js", "http://www.d3js.org" %>, <%= link_to "Bootstrap", "http://www.getbootstrap.com" %>, <%= link_to "jQuery", "http://www.jquery.com" %>, <%= link_to "jQuery UI", "http://www.jqueryui.com" %> and a neat little jQuery plugin called scrollTo.
	</p>
	<div id='explanation'>
		<p>
			<h3>Get started</h3>
			<span class='first_words'>Click a state</span> to see its electricity generation history shown graphically.
		</p>
		<p>
			<span class='first_words'>To compare states</span> (to see who generates more coal power, for example), use the "Compare States" button, click the states you want to compare, and then click "Make Chart."
		</p>
		<p>
			<span class='first_words'>To focus on certain power sources</span>, click a corresponding element in any of the graphs and it will remain "hovered."
			Click again to defocus.
		</p>
		<p>
			<span class='first_words'>Slide the year slider</span> when comparing states to see the data from that year!
		</p>
		<p>
			(Scroll down for caveats and other notes.)
		</p>
	</div>
		

	<center>
		<button type="button" id="explain" class='btn btn-large btn-info' style="margin-bottom: 50px;">Wait, so, what do I do?</button>
		<br>
		<div id='map'>
			<%= render "map" %>
		</div>

		<div id="chart_controls">
			<%= form_tag do %>
				<%= radio_button_tag(:scale, "absolute", value: true) %>
				<%= label_tag(:scale_absolute, "Absolute (total number of gigawatt-hours generated)", id: 'scale_label') %>
				<%= radio_button_tag(:scale, "relative") %>
				<%= label_tag(:scale_relative, "Relative (proportion of each type of electricity)", id: 'scale_label') %>
				<button type="button" id="close" class="btn btn-large">Close Chart</button>
			<% end %>
		</div>

		<p>
			<div id='year_selector'>
				<h2 id="year"></h2>
				<div id="time" style="width: 200px;"></div>
				<div id="year_compare" style="width: 200px;"></div>
			</div>
		</p>

		<div id="map_controls">
			<button type="button" id="replay" class='btn btn-large btn-success' style="float: left;">Replay State Fade-In</button>
			<button type='button' id='close_chart' class='btn btn-large btn-danger' style='float:left;'>Close Chart</button>
			<button type="button" id="compare" class='btn btn-large btn-primary' style="float: right;">Compare States</button>
			<button type="button" id="make_chart" class='btn btn-large btn-primary' style="float: right;">Make Chart</button type="button">
			<!-- <span id="temporal_mode">See which states have gotten better or worse (changes with time)</span> -->
			<!-- <span id="static_mode">See one point in time</span> -->
		</div>

		<div id="weights">
			<h2>Opinionated? Set your own green-ness scores.</h2>
			<!-- <h3 id='please_click'>Click the button to set your own "green-ness" scores for various types of power.</h3> -->
			<button class="btn-large btn-success" type='button' id='equalizer_toggle' style="margin-bottom: 15px;">Set my scores</button>
			<div id='equalizer'>
				<div id='suggestion' class='first_words'>
					Try setting hydroelectric to +10 and coal to -10!
				</div>
				<div class='well' style='height: 615px;'>
				  	<% for type, score in @green %>
				  		<div class="val_chooser">
							<div style="float: left;"><%= @translations[type] %>:</div>
							<input type="number" style="width: 40px; border: none; background: transparent;" value="<%= score %>" id=<%= "#{type}_input" %>></input>
							<div style="height:150px" id=<%= "#{type}_slider" %>></div>
						</div>
				  	<% end %>
			  	</div>
			  </div>
		</div>

	<br>
	</center>
	<h3>Caveats</h3>
		<p>
			This map doesn't take electricity sold <i>between</i> states because that data is not readily available.
			Each state's color and graphs are made from data strictly about electricity generation.
		</p>
		<p>
			An oddity in the data I noticed when making the graphs were instances of negative electricity generation by certain methods, most often pumped hydroelectric.
			That is to say, states lost electricity by using pumped hydroelectric power to light streetlights, run air conditioning units, etc.
		</p>
		<p>
			Why would any state do so?
			Because pumped hydroelectricity is the best battery our current power grid can use.
			The way pumped hydroelectricity works is that, during off-peak hours, states use excess electricity to pump water into a reservior above a dam.
			Then, during peak hours, states use that water to generate electricity instead of turning on more dirty coal plants, for example; the slight loss in electricity is the price of keeping our atmosphere cleaner.
		</p>
	<h3>Other Takeaways</h3>
		<p>
			Make more data available- that's the real definition of transparency.
			Stuff like this is awesome: http://www.codeforamerica.org/2013/07/25/epic-win-for-nycs-open-data-community-pluto-is-free/
		</p>
	<h3>Further Education</h3>
		<p>
			stuff to ackowledge: http://www.theatlantic.com/special-report/users-guide-energy (can put that data on this map, too)
			http://www.nytimes.com/2013/08/15/business/energy-environment/intermittent-nature-of-green-power-is-challenge-for-utilities.html?pagewanted=2&_r=1&hp&
			http://www.thenewyorkworld.com/2013/07/25/city-liberates-map-data-trove/ (pushing for more open data is great to learn about practices)
			person to reach out to: 

		</p>
	<h3>Where next?</h3>
		<p>
			I would for this to eventually be transformed into a vizualizer for all of the EIA's data (and data from other sources, too).
			It's possible to put energy consumption data in the map, though the graphs per-state would need to be a little more complicated to properly show how energy use breaks down per-use (transportation, electricity, heating, etc.).
		</p>
		<br>
		<br>
		Copyright 2013 Lucas Eggers
</body>