<center>
	<h1>What charges our cell phones, laptops and electric vehicles?</h1>
</center>

<body>
	<center>
		<div id="top_paragraph">
			Below is a map representing the "green-ness" of the electricity generated in each state of the US (except Alaska and Hawaii, coming soon!). The data were pulled from the beta API of the <%= link_to "Energy Information Agency", "http://www.eia.gov" %>. Packages used to make this were d3.js, jQuery and jQuery-ui.

			TALK LATER about hydro_pumped energy. It's a compensatory measure states take to prevent using non-green power sources during peak hours HOWEVER it's often a net negative for states! Crazy.

			stuff to ackowledge: http://www.theatlantic.com/special-report/users-guide-energy (can put that data on this map, too)
			http://www.thenewyorkworld.com/2013/07/25/city-liberates-map-data-trove/ (pushing for more open data is great to learn about practices)
			person to reach out to: 
		</div>

		<div id='map'>
			<%= render "map" %>
		</div>

		<span id="controls_toggle">Toggle Controls</span>

		<div id="controls">
			<div id="map_controls">
				<span id="replay">Replay State Fade-In</span>
				<br>
				<span id="compare">Compare States</span>
				<span id="make_chart">Make Chart</span>
				<br>
				<span id="mode">See changes with time</span>
			</div>
			<div id="chart_controls">
				<%= form_tag do %>
					<%= radio_button_tag(:scale, "absolute", value: true) %>
					<%= label_tag(:scale_absolute, "Absolute") %>
					<%= radio_button_tag(:scale, "relative") %>
					<%= label_tag(:scale_relative, "Relative") %>
					<span id="close"><br>Close Chart<br></span>
				<% end %>
			</div>
		</div>

		<h1 id="year"></h1>
		<div id="time" style="width: 200px;"></div>

		<div id="weights">
			<h1>Opinionated?</h1>
			<h3>Set your own "green-ness" scores for various types of power.</h3>
			<div>
			  	<% for type, score in @green %>
			  		<% if type == :other_renew %>
			  			</div>
			  			<div>
			  		<% end %>
				  		<div class="val_chooser" style="background-color: <%=  %>">
							<%= @translations[type] %>:
							<div style="height:150px" id=<%= "#{type}_slider" %>></div>
							<input type="number" style="width: 50px;" value="<%= score %>" id=<%= "#{type}_input" %>></input>
						</div>
			  	<% end %>
		  	</div>
		</div>
	</center>
</body>